body {
    font-size: 4rem;
}

#word {
    width: 720px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

#alphabet {
    width: 720px;
    display: flex;
    margin: 4rem auto;
    flex-wrap: wrap;
}

#alphabet div {
    margin: 0.5rem;
}

#score {
    
}

.grayed-out {
    color: #c0c0c0;
}